USE [master]
GO
/****** Object:  Database [QLNV]    Script Date: 1/6/2023 4:59:38 PM ******/
CREATE DATABASE [QLNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhanVien', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NhanVien.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NhanVien_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NhanVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNV]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 1/6/2023 4:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [nchar](5) NOT NULL,
	[UserName] [nchar](50) NOT NULL,
	[Password] [nchar](50) NULL,
	[Email] [nchar](50) NULL,
	[Tel] [nchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[NhanVien] ([Id], [UserName], [Password], [Email], [Tel]) VALUES (N'ID001', N'Long                                              ', N'1234                                              ', N'long@gmail.com                                    ', N'0978777888          ')
INSERT [dbo].[NhanVien] ([Id], [UserName], [Password], [Email], [Tel]) VALUES (N'ID002', N'Long2                                             ', N'4321                                              ', N'long2@gmail.com                                   ', N'0987888999          ')
USE [master]
GO
